{:dashboard
 [[if-moderator draw-dashboard-moderator :dashboard-wait]
  [fntrue draw-dashboard :dashboard-wait]]
 :pages
 [[if-on-dashboard fntrue :dashboard-input]
  [if-want-dashboard fntrue :dashboard]
  [fntrue wait nil]]
 :login-input
 [[if-logged-in fntrue :dashboard]
  [fntrue login :login]]
 :dashboard-wait [nil]
 :login-wait
 [[fntrue wait nil]]
 :login
 [[if-logged-in fntrue :pages]
  [fntrue draw-login :login-wait]
  [fntrue wait nil]]
 :logout
 [[fntrue logout :login]]
 :dashboard-input
 [[fntrue wait nil]]}
